*{
    background-color: black;
}
a {
  color: blue; 
  text-decoration: underline;
}
a:visited {
  color: purple; /* El enlace cambia a morado si ya se ha visitado */
}
a:hover {
  color: green; /* El texto se pone verde al pasar el ratón */
  text-decoration: none; /* Se quita el subrayado al pasar el ratón */
  background-color: lightyellow;
}
a:active {
  color: red; /* El texto se pone rojo mientras se está pulsando el ratón sobre él */
  transform: translateY(1px); /* Efecto sutil de pulsado */
}
